<% layout('layouts/boilerplate')%>
<div class="content">
  <div class="nav-spacer"></div>
  <h1>Your Account</h1>
  <div class="user-options">
    <a href="/user/<%= user._id %>/orders">
      <div>Orders</div>
    </a>
    <!-- <div>
               Messages
            </div>
            <div>
                Account Setting
            </div> -->
  </div>
</div>
