<%- layout('layouts/boilerplate')%>

<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">My Account</h1>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-12 d-flex justify-content-center">
      <div class="btn-group-collapse">
        <a href="/user/<%= user._id %>/orders" class="btn btn-outline-dark">
          Orders
        </a>
        <a href="/user/<%= user._id %>/settings" class="btn btn-outline-dark">
          Settings
        </a>
      </div>
    </div>
  </div>
</div>
