<footer class="main-footer">
  <div class="main-footer__links">
    <div class="main-footer__nav">
      <div class="main-footer__nav-help">
        <ul>
            <li>Help</li>
            <li>Contact</li>
        </ul>
      </div>
      <div class="main-footer_nav-shop">
        <ul>
            <li>Shop</li>
            <li>Info</li>
        </ul>
      </div>
    </div>
    <div class="main-footer__newsletter">
      <div>Sign up</div>
      <form action="/newsletter">
        <label for="email"></label>
        <input type="email" />
        <button class="btn-secondary slim">Sign Up</button>
      </form>
    </div>
  </div>

  <div class="main-footer__socials">
    <div class="main-footer__copyright">2022 All Rights Reserved</div>
    <div class="main-footer__social-icons">facebook</div>
    <div class="main-footer__terms"></div>Terms & Privacy</div>
  </div>
</footer>
