<footer class="footer bg-light pt-3 mt-auto text-dark">
  <!-- Newsletter  -->
  <div class="newsletter row mx-auto my-5 container">
    <div class="col-md-6">
      <h3>NEWSLETTER</h3>
      <p class="my-3">
        Be the first to learn about our latest news, products and exclusive
        offers.
      </p>
      <form action="/newsletter">
        <div class="input-group mb-3 newsletter-form">
          <label for="email"></label>
          <input
            class="form-control bg-light"
            type="email"
            placeholder="Email address"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-dark">SUBSCRIBE</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer Notes -->
  <div class="footer-notes pt-5">
    <div class="row mx-auto container">
      <!-- Brand -->
      <div class="col-md-4 footer-brand">
        <div class="brand">LUMINAE</div>
        <div class="footer-socials">
          <div class="icon-imagebox"><div class="facebook"></div></div>
          <div class="icon-imagebox"><div class="instagram"></div></div>
          <div class="icon-imagebox"><div class="twitter"></div></div>
        </div>
      </div>

      <!-- Links -->
      <div class="col-md-8 row">
        <!-- Shop -->
        <div class="col">
          <h5>Shop</h5>
          <div class="footer-links">
            <a href="#">Shop All</a>
            <a href="#">Kits</a>
            <a href="#">Skincare</a>
            <a href="#">Sun Protection</a>
            <a href="#">Cart</a>
          </div>
        </div>
        <!-- About -->
        <div class="col">
          <h5>About</h5>
          <div class="footer-links">
            <a href="#">Our Brand</a>
            <a href="#">UV Studies</a>
            <a href="#">Organic Ingredients</a>
            <a href="#">Routine</a>
            <a href="#">Success Stories</a>
          </div>
        </div>
        <!-- Contact -->
        <div class="col">
          <h5>Contact</h5>
          <div class="footer-links">
            <a href="#">FAQs</a>
            <a href="#">Return Policy</a>
            <a href="#">Contact</a>
            <a href="#">Careers</a>
          </div>
        </div>
      </div>
    </div>

    <div class="py-5 mx-auto copyright-links">
      <div class="privacy-terms">
        <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a> |
      </div>
      <div>&copy; 2023 Luminae</div>
    </div>
  </div>
</footer>
