<footer class="footer bg-dark py-3 mt-auto">
  <div class="main-footer__links">
    <div class="main-footer__nav">
      <div class="main-footer__nav-shop">
        <div class="footer-title">SHOP</div>
        <div><a class="main-footer__link" href="/">Products</a></div>
        <div><a class="main-footer__link" href="/info">Info</a></div>
        <div><a class="main-footer__link" href="/cart">Cart</a></div>
      </div>
      <div class="main-footer__nav-shop">
        <div class="footer-title">CONTACT</div>
        <div>Contact</div>
        <div>Help</div>
        <div>Careers</div>
      </div>
    </div>
    <div class="main-footer__newsletter">
      <div>Sign up for for news and exclusive offers</div>
      <form action="/newsletter">
        <label for="email"></label>
        <input type="email" placeholder="Email" />
        <button class="btn-secondary slim">Sign Up</button>
      </form>
    </div>
  </div>

  <div class="main-footer__bottom">
    <div class="text-muted">&copy; ECOM 2023</div>
    <div class="main-footer__socials">
      <div class="icon-imagebox"><div class="facebook"></div></div>
      <div class="icon-imagebox"><div class="instagram"></div></div>
      <div class="icon-imagebox"><div class="twitter"></div></div>
    </div>
    <div class="main-footer__terms">Terms & Conditions</div>
  </div>
</footer>
