<%- include ('includes/head.ejs') %> 
<link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="page-wrap">
      <%- include ('includes/nav.ejs') %> 
      <div class="content">
        <div class="nav-spacer" /></div>
      <h1>Page Not Found</h1>
      </div>
    </div>
    <%- include ('includes/footer.ejs')  %> 
  </body>
</html>
