<%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/navbar')%>

  
  <main class="container">
    <%- include('./partials/flash') %>
    <div class="text-center my-5 py-5">
      <h1 class="center-title py-5">Page Not Found</h1>
      <p class="text-center my-5">
        Oops! This page seems to have vanished into the digital abyss.
      </p>
    </div>

<%- include('./partials/end')%>