<%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/navbar')%>
  
  <div class="center-container">
    <main class="main-container full-height">
      <div class="row mx-3">
        <div class="col-md-6 offset-md-3">
          <div class="alert alert-danger my-5" role="alert">
            <h4 class="alert-heading overflow-auto"><%= err.message %></h4>
          </div>
        </div>
      </div>

<%- include('./partials/end')%>