:root {
  --light-color: #f8f9fa;
  --light-border: #dee2e6;
  --lighter-border: rgb(236, 236, 236);
  --bg-light-color: #fcfcfa;
  --dark-color: #343a40;
  --dark-border: #1e1e1e;
  --link-color: #164777;
  --gradient-color: rgb(223, 242, 241);
  --gradient-neutral: rgb(197, 197, 197);
  --promo-color: #c2ffcc;
}

body {
  margin: 0;
  background-color: var(--bg-light-color);
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.center-title {
  text-align: center;
}

.image-wrapper {
  display: flex;
  background-color: var(--dark-border);
  max-height: 500px;
  overflow: hidden;
}

.image-wrapper > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
}

.overflow-hide {
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.img-opacity {
  opacity: 0.75;
}

.hover-scale {
  transition: all 0.5s;
}

.hover-scale:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.font-sz-sm {
  font-size: 0.9rem;
}

.font-sz-lg {
  font-size: 1.3rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash {
  margin: 15px;
}

.table > :not(:first-child) {
  border-top: 1px solid var(--dark-border);
}

.table-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
}

.table-image img {
  width: 100%;
}

.custom-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  position: relative;
  height: 300px;
}

@media (max-width: 768px) {
  .custom-banner {
    height: 250px;
  }
}

.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline-form {
  align-items: end;
}

.underline-form input {
  align-self: baseline;
  border: none;
  border-bottom: 1px solid var(--light-border);
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}

.underline-form input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid var(--dark-border);
}

.underline-form button {
  margin-left: 15px;
  border-radius: 20px;
  border: 1px solid var(--dark-border);
}

.box-form-input:focus {
  outline: none;
  box-shadow: none;
}

.box-form-textarea {
  resize: none;
}

.box-form-textarea:focus {
  outline: none;
  box-shadow: none;
}

.input-group-price {
  position: relative;
}

.input-group-price::before {
  content: '$';
  position: absolute;
  align-self: center;
  left: 10px;
  z-index: 4;
  pointer-events: none;
}

.input-price {
  padding-left: 25px;
}

.btn-large {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  font-family: 'Crimson Text';
}

.brand-mark {
  font-size: 1.5rem;
  color: var(--dark-color);
  text-decoration: none;
}

.brand-mark:hover {
  user-select: none;
  color: var(--dark-color);
}

.btn-row {
  display: flex;
  flex-direction: row;
}

.btn-row a button {
  height: 100%;
}
.btn-row button {
  margin-left: 5px;
  height: 100%;
}

.custom-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.custom-list a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1rem;
}

.custom-list a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grab:active {
  cursor: grabbing;
}

.hover-opacity {
  transition: all 0.3s ease;
}

.hover-opacity:hover {
  opacity: 0.7;
}

.full-height {
  min-height: 65vh;
}

.card-w-100 {
  border: 1px solid var(--light-border);
  padding: 15px;
  border-radius: 20px;
}
