:root {
  --light-color: #f8f9fa;
  --light-border: rgb(236, 236, 236);
  --bg-light-color: #fcfcfa;
  --dark-color: #343a40;
  --dark-border: #1e1e1e;
  --link-color: #164777;
  --gradient-color: rgb(223, 242, 241);
  --gradient-neutral: rgb(197, 197, 197);
  --promo-color: #c2ffcc;
}

body {
  margin: 0;
  background-color: var(--bg-light-color);
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.main-container {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1500px) {
  .main-container {
    padding: 0 10%;
  }
}

.overflow-hide {
  overflow: hidden;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.center-title {
  text-align: center;
  font-size: 36px;
}

.image-wrapper {
  display: flex;
  background-color: var(--dark-border);
  max-height: 500px;
  overflow: hidden;
}

.image-wrapper > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
}

.img-opacity {
  opacity: 0.75;
}

.hover-scale {
  transition: all 0.5s;
}

.hover-scale:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.font-sz-sm {
  font-size: 0.9rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* OTHER */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 100px;
}

.img-hover {
  transition: all 0.5s;
}

.img-hover:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.brand {
  font-family: 'Crimson Text';
}

.brand-mark {
  font-size: 1.5rem;
}

.link-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.link-list a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1rem;
}

.link-list a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.larger-font {
  font-size: 1.3rem;
}

.custom-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  position: relative;
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.no-wrap {
  white-space: nowrap;
}

.custom-form {
  align-items: end;
}

.custom-form input {
  align-self: baseline;
  border: none;
  border-bottom: 1px solid var(--light-border);
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}

.custom-form input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid var(--dark-border);
}

.custom-form button {
  margin-left: 15px;
  border-radius: 20px;
  border: 1px solid var(--dark-border);
}

.btn-container {
  display: flex;
  align-items: center;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grab:active {
  cursor: grabbing;
}

.hover-opacity {
  transition: all 0.3s ease;
}

.hover-opacity:hover {
  opacity: 0.7;
}

.z-index-4 {
  z-index: 4;
}

/* ROUTINE */

.routine-banner {
  background-image: url('/images/routine/routine1.jpg');
}

.routine-card {
  outline: 1px solid rgb(199, 199, 199);
  border-radius: 20px;
  margin-bottom: 30px;
}

.routine-card p {
  font-size: 1.2rem;
}

.routine-img {
  max-height: 400px;
}

/* RESEARCH */

.research-banner {
  background-image: url('/images/research/research2.jpg');
}

.intro-section {
  padding-top: 50px;
  font-size: 1.2rem;
}

.intro-text {
  margin-bottom: 30px;
}

.studies-section {
  padding: 50px 0;
}

.studies-title {
  padding: 30px 0;
}

.studies-row {
  display: flex;
  justify-content: center;
}

.research-card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
}

.research-card h3 {
  color: #273d40;
  border-bottom: 1px solid rgb(199, 199, 199);
  margin-top: 0;
  padding: 15px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.research-card p {
  margin-top: 15px;
  padding: 0 15px;
  max-height: 320px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-img {
  max-height: 360px;
  align-items: center;
}

/* SUCCESS */

.success-banner {
  background-image: url('/images/success/successbanner.jpg');
}

.testimonial-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: #fff;
  margin-bottom: 15px;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card p {
  margin-bottom: 0;
}

/* CART */

.cart-product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
}

.cart-product-image img {
  width: 100%;
}

.cart-product-price {
  font-size: 0.9rem;
}

.cart-product-qty {
  text-align: center;
  width: 40px;
}

.cart-product-update {
  display: flex;
  flex-direction: row;
}

.cart-product-delete:hover {
  opacity: 50%;
  cursor: pointer;
}

.quantity-btn {
  font-family: 'Verdana';
}

@media (max-width: 575px) {
  .col-lg-3 {
    order: 2;
  }
  .col-lg-2 {
    order: 1;
  }
}

/* ACCOUNT */

.btn-large {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ORDERS */

.order-card {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.order-product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
}
.order-product-image img {
  height: 100%;
}

.order-card-title {
  font-weight: 700;
}

.order-nothing {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* LOGIN */

.user-message {
  text-align: center;
}

/* ADMIN */
.admin-card {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--light-border);
  background-color: var(--light-color);
}

.admin-number {
  font-size: 36px;
  font-weight: bold;
}

.admin-label {
  font-size: 18px;
  color: #999;
}

/* ADD PRODUCT */

.image-upload {
  width: 100%;
  padding-top: 100%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-upload.drag-over {
  border-color: #bababa;
}

.image-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image-area input[type='file'] {
  display: none;
}

.image-area:hover {
  background-color: var(--light-border);
}

.upload-icon {
  font-size: 40px;
}

.upload-text {
  margin-top: 10px;
}

.preview-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.preview-button {
  position: absolute;
  top: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  z-index: 3;
}

.delete-button {
  right: 10px;
  font-size: 0.9rem;
  color: var(--dark-color);
  background-color: var(--gradient-neutral);
}

.delete-button:hover {
  background-color: #e1e1e1;
}

.edit-button {
  left: 10px;
  color: var(--dark-color);
  background-color: var(--gradient-neutral);
}

.edit-button:hover {
  background-color: #e1e1e1;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM DETAILS */

.product-form-input:focus {
  outline: none;
  box-shadow: none;
}

.product-form-textarea {
  resize: none;
}

.product-form-textarea:focus {
  outline: none;
  box-shadow: none;
}

.product-form-select:focus {
  outline: none;
  box-shadow: none;
}

.input-group-text {
  background-color: var(--bg-light-color);
  border-right: none;
  padding-right: 5px;
}

.price-input {
  border-left: none;
  padding-left: 0;
}

.upload-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.upload-buttons button {
  margin: 0 5px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.btn-row {
  display: flex;
  flex-direction: row;
}

.btn-row a button {
  height: 100%;
}
.btn-row button {
  margin-left: 5px;
  height: 100%;
}

.modal-close:hover {
  opacity: 0.6;
}
