<%- include ('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include ('../includes/nav.ejs') %> 
    <div class="page-wrap">
      <div class="content">
        <div class="nav-spacer"></div>
        <h1><%= pageTitle  %> </h1>
      </div>
    </div>
    <%- include ('../includes/footer.ejs')  %> 
  </body>
</html>