%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 3px 20px;
  cursor: pointer;
  font-family: $font-stack;

  &:hover {
    opacity: 90%;
  }
}

.btn-primary {
  @extend %btn;
  background-color: lighten($primary, 10%);
  color: $background;
  border: none;
}
.btn-secondary {
  @extend %btn;
  background-color: $background;
  border: 1px solid $primary;
}
