%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  font-family: $font-stack;

  &:hover {
    opacity: 90%;
    transition: 300ms;
    transform: scale(1.02);
  }
}

.btn-primary {
  @extend %btn;
  background-color: lighten($primary, 10%);
  color: $background;
  border: none;
}
.btn-secondary {
  @extend %btn;
  background-color: $background;
  border: 1px solid $primary;
}

.slim {
  height: 22px;
  padding: 0 15px;
}

.btn-row {
  display: flex;
  flex-direction: row;

  button {
    height: 50%;
  }

  form {
    height: 100%;
    margin-left: 5px;

    button {
      height: 100%;
    }
  }
}
