.product-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 15px;

  input {
    font-family: $font-stack;
    width: 100%;
  }
  textarea {
    font-family: $font-stack;
    width: 100%;
  }
}

.form-btn {
  margin-top: 15px;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-control:last-child {
    width: 30%;
    margin-left: 15px;
  }
}

#dollar-sign {
  position: absolute;
  margin-left: 5px;
  line-height: 20px;
  align-self: center;
}

.price {
  background-color: $background-secondary;
  border: 1px solid rgb(82, 81, 81);
  border-radius: 5px;
  height: 20px;
  line-height: 15px;
}

#price {
  border: none;
  background-color: transparent;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
}

#colorOptions,
#sizeOptions {
  width: 150px;
}

.user-message {
  margin: 20px;
  width: 30%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background-color: #ffa1a1;
  color: red;
}

.user-message--success {
  border-color: green;
  background-color: #c2ffcc;
  color: green;
}
