.main-header {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  background-color: $background-secondary;
  z-index: 1;
}

.main-header__nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.main-header__logo {
  display: flex;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: $primary;
  font-weight: 500;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  opacity: 70%;
}

.imagebox {
  width: 22px;
  height: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.cart {
  mask-image: url(/icons/icon-cart.png);
  align-self: center;
  width: 100%;
  height: 100%;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $primary;

  &:hover {
    transition: 300ms;
    opacity: 60%;
  }
}
