.user-options {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  width: 70%;

  div {
    background-color: $background-secondary;
    height: 50px;
    border-radius: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(209, 209, 209);

    &:hover {
      cursor: pointer;
      background-color: rgb(217, 220, 228);
    }
  }
}

.user-sign-main {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.user-sign-in {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-register {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 10px;
  justify-content: space-around;
  padding: 15px;
  background-color: $background-darker;

  button {
    width: 80%;
    align-self: center;
  }
}
