:root {
  --light-color: #f8f9fa;
  --light-border: rgb(236, 236, 236);
  --bg-light-color: #fcfcfa;
  --dark-color: #343a40;
  --dark-border: #1e1e1e;
  --link-color: #164777;
  --gradient-color: rgb(223, 242, 241);
  --gradient-neutral: rgb(197, 197, 197);
  --promo-color: #c2ffcc;
  /* --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1500px; */
}

body {
  margin: 0;
  background-color: var(--bg-light-color);
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.main-container {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1500px) {
  .main-container {
    padding: 0 10%;
  }
}

.brand {
  font-family: 'Crimson Text';
}

.brand-mark {
  font-size: 1.5rem;
}

.link-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.link-list a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1rem;
}

.link-list a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.larger-font {
  font-size: 1.3rem;
}

.custom-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  position: relative;
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.center-title {
  text-align: center;
  font-size: 36px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  height: 55px;
  z-index: 5;
  width: 100%;
}

.navbar-space {
  height: 55px;
}

#navbarSupportedContent {
  width: 100%;
}

.nav-logout {
  border: none;
  background-color: transparent;
}

@media (min-width: 1200px) {
  /* Styles for expanded (not collapsed) navbar */
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  /* Styles for collapsed navbar */
  .navbar-collapse .navbar-nav {
    align-items: flex-start;
  }
}

.imagebox {
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background-color: transparent;
}

.imagebox:hover {
  cursor: pointer;
}

/* FOOTER */

.footer {
  width: 100%;
  border-top: 1px solid var(--light-border);
}

.newsletter-form {
  align-items: end;
}

.newsletter-form input {
  align-self: baseline;
  border: none;
  border-bottom: 1px solid var(--dark-border);
  margin: 0;
}

.newsletter-form button {
  margin-left: 15px;
  border-radius: 20px;
  border: 1px solid var(--dark-border);
}

.footer-notes {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color),
    var(--gradient-neutral)
  );
}

.footer-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-socials {
  display: flex;
}

.icon-imagebox {
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: transparent;
}
.icon-imagebox:hover {
  cursor: pointer;
}

.facebook {
  -webkit-mask-image: url(/icons/facebook.png);
  mask-image: url(/icons/facebook.png);
  align-self: center;
  width: 100%;
  height: 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--dark-border);
}
.facebook:hover {
  transition: 300ms;
  opacity: 60%;
}

.instagram {
  -webkit-mask-image: url(/icons/instagram.png);
  mask-image: url(/icons/instagram.png);
  align-self: center;
  width: 100%;
  height: 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--dark-border);
}
.instagram:hover {
  transition: 300ms;
  opacity: 60%;
}

.twitter {
  -webkit-mask-image: url(/icons/twitter.png);
  mask-image: url(/icons/twitter.png);
  align-self: center;
  width: 100%;
  height: 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--dark-border);
}
.twitter:hover {
  transition: 300ms;
  opacity: 60%;
}

.copyright-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.privacy-terms {
  margin-right: 5px;
}

.privacy-terms a {
  color: var(--link-color);
}

.privacy-terms a:hover {
  opacity: 0.6;
}

/* HOME PAGE */

.promo-text {
  position: fixed;
  width: 100%;
  height: 2rem;
  z-index: 4;
  background-color: var(--promo-color);
  text-align: center;
}

.carousel-item > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 650px;
}

.carousel-text {
  margin-left: 12%;
  margin-top: 120px;
  position: absolute;
  color: var(--light-color);
  z-index: 2;
}

.info-section {
  width: 100%;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  background-color: var(--dark-border);
  max-height: 500px;
  overflow: hidden;
}

.image-wrapper > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
}

.img-hover {
  transition: all 0.5s;
}

.img-hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.image-text {
  position: absolute;
  z-index: 2;
}

.image-text > p {
  word-wrap: break-word;
  max-width: 25%;
}

.img-opacity {
  opacity: 0.75;
}

.product-item {
  padding: 2px;
}

.product-img {
  position: relative;
  overflow: hidden;
}

/* SHOP */

.product-card {
  min-width: 150px;
  max-width: 280px;
}

.product-name {
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.img-container img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
}

.align-items-start .card {
  width: 100%;
}

.cart-add {
  width: 100%;
}

.btn-cart {
  width: 100%;
  border: none;
  border-top: 1px solid var(--light-border);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.product-types li {
  white-space: nowrap;
}

.category-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: sticky;
  top: 55px;
  z-index: 4;
  border: 1px solid var(--light-border);
  background-color: var(--bg-light-color);
}

.category-links a {
  border-radius: 4px;
  text-decoration: none;
  color: var(--dark-border);
  transition: all 0.3s ease;
  opacity: 0.5;
  padding: 15px 0;
}

.category-links a:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
}

@media (min-width: 768px) {
  .category-links a {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .category-links {
    justify-content: space-evenly;
  }

  .category-links a {
    width: 33%;
    text-align: center;
  }
}

/* BRAND */

.brand-banner {
  background-image: url('/images/brand/brand2.jpg');
}

.brand-section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ROUTINE */

.routine-banner {
  background-image: url('/images/routine/routine1.jpg');
}

.routine-card {
  outline: 1px solid rgb(199, 199, 199);
  border-radius: 20px;
  margin-bottom: 30px;
}

.routine-card p {
  font-size: 1.2rem;
}

.routine-img {
  max-height: 400px;
}

/* RESEARCH */

.research-banner {
  background-image: url('/images/research/research2.jpg');
}

.intro-section {
  padding-top: 50px;
  font-size: 1.2rem;
}

.intro-text {
  margin-bottom: 30px;
}

.studies-section {
  padding: 50px 0;
}

.studies-title {
  padding: 30px 0;
}

.studies-row {
  display: flex;
  justify-content: center;
}

.research-card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
}

.research-card h3 {
  color: #273d40;
  border-bottom: 1px solid rgb(199, 199, 199);
  margin-top: 0;
  padding: 15px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.research-card p {
  margin-top: 15px;
  padding: 0 15px;
  max-height: 320px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-img {
  max-height: 360px;
  align-items: center;
}

/* SUCCESS */

.success-banner {
  background-image: url('/images/success/successbanner.jpg');
}

.testimonial-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: #fff;
  margin-bottom: 15px;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card p {
  margin-bottom: 0;
}

/* CART */

.cart-product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
}

.cart-product-image img {
  width: 100%;
}

.cart-product-price {
  font-size: 0.9rem;
}

.cart-product-qty {
  text-align: center;
  width: 40px;
}

.cart-product-update {
  display: flex;
  flex-direction: row;
}

.cart-product-delete:hover {
  opacity: 50%;
  cursor: pointer;
}

.quantity-btn {
  font-family: 'Verdana';
}

@media (max-width: 575px) {
  .col-lg-3 {
    order: 2;
  }
  .col-lg-2 {
    order: 1;
  }
}

/* ACCOUNT */

.account-btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  width: 70%;
}

.account-btn {
  background-color: #ffffff;
  height: 50px;
  border-radius: 5px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(209, 209, 209);
}

/* ORDERS */

.order-card {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.order-product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
}
.order-product-image img {
  height: 100%;
}

.order-card-title {
  font-weight: 700;
}

.order-nothing {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* OTHER */
.main-context {
  display: flex;
}

.title {
  display: flex;
  flex-direction: row;
}

.slim {
  height: 22px;
  padding: 0 15px;
}

.btn-row {
  display: flex;
  flex-direction: row;
}
.btn-row a button {
  height: 100%;
}
.btn-row button {
  margin-left: 5px;
  height: 100%;
}

.btn-nonbutton {
  border: none;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: rgb(14, 45, 76);
  padding: 0;
}
.btn-nonbutton:hover {
  cursor: pointer;
}

.footer-title {
  font-size: 12px;
  color: rgb(237, 237, 237);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 100px;
}

.page-wrap {
  min-height: 92.5%;
  margin-bottom: -200px;
}

.nav-spacer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-title h1 {
  font-size: 50px;
  color: rgb(14, 45, 76);
}

.products {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.detail-products-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  overflow: hidden;
}
.detail-products-image img {
  width: 100%;
}

.detail-products-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  width: 400px;
  justify-content: space-evenly;
}
.detail-products-info .products-title {
  font-size: 36px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  text-decoration: none;
  background-color: rgb(242, 244, 249);
  border: 1px solid rgb(14, 45, 76);
  color: rgb(14, 45, 76);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 1rem;
}
.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: #164777;
  color: rgb(242, 244, 249);
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 15px;
}
.form-control input {
  font-family: 'Lato', sans-serif;
  width: 100%;
}
.form-control textarea {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.form-btn {
  margin-top: 15px;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-row .form-control:last-child {
  width: 30%;
  margin-left: 15px;
}

#dollar-sign {
  position: absolute;
  margin-left: 5px;
  line-height: 20px;
  align-self: center;
}

.price {
  background-color: #ffffff;
  border: 1px solid rgb(82, 81, 81);
  border-radius: 5px;
  height: 20px;
  line-height: 15px;
}

#price {
  border: none;
  background-color: transparent;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
}

#colorOptions,
#sizeOptions {
  width: 150px;
}

.user-message {
  margin: 20px;
  width: 30%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background-color: #ffa1a1;
  color: red;
}

.user-message--success {
  border-color: green;
  background-color: #c2ffcc;
  color: green;
}

.admin-stats {
  margin-top: 15px;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.admin-stats-nums {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-around;
}
.admin-stats-nums div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-stats-nums div h2 {
  align-items: center;
}

.admin-stats-profit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-stats-profit h2 {
  margin: 0;
}
.admin-stats-profit p {
  margin: 0;
}

.user-sign-main {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.user-sign-in {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-register {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 10px;
  justify-content: space-around;
  padding: 15px;
  background-color: rgb(237, 237, 237);
}
.user-register button {
  width: 80%;
  align-self: center;
}

.user-sign-up {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.user-sign-up-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user-sign-up-form div {
  width: 45%;
  padding: 5px;
}
.user-sign-up-form div select {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 22px;
}
.user-sign-up-form .form-control-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.user-sign-up-form .form-control-btn button {
  width: 100%;
}

.reset-link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(14, 45, 76);
  font-weight: 500;
}
.reset-link:hover {
  opacity: 70%;
}

.user-reset-main {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-between;
}
.user-reset-main button {
  margin-top: 15px;
  width: 50%;
}

.info {
  background-image: url(/images/info.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.info-description {
  padding: 25px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-para {
  text-align: center;
  line-height: 35px;
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.info-img img {
  width: 100%;
  border-radius: 10px;
}
