<%- include ('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include ('../includes/nav.ejs') %> 
    <div>
      <h1><%= pageTitle  %> </h1>
    </div>
  </body>
  <%- include ('../includes/footer.ejs')  %> 
</html>