<%- include ('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include ('../includes/nav.ejs') %> 
    <div class="page-wrap">
      <div class="content">
        <div class="home-title info">
          <h1>ECOM</h1>
          <h3>The web's greatest marketplace</h3>
        </div>
        <div class="info-description">
          <h1>Welcome!</h1>
          <h3 class="info-para">We are ECOM, the world's greatest marketplace. This site experience was designed to simplify the experience for sellers and buyers. With a purpose to make transactions less complicated and trouble-free. Safely and securely delivered.</h3>
          <div class="info-img" >
            <img src="/images/pup.avif" alt="delivered">
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include ('../includes/footer.ejs')  %> 
</html>