<% layout('layouts/boilerplate')%>
<div class="container px-5 larger-font">
  <div class="row custom-banner py-2">
    <div class="custom-overlay">
      <h1 class="brand mb-5 my-5">LUMINAE</h1>
      <p>Our Brand philosophy and story</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <p>
        At Luminae, our brand philosophy revolves around the belief that true
        beauty shines from within. We embrace the concept that skincare is not
        merely a routine but a transformative self-care experience that nurtures
        both the body and the spirit.
      </p>
      <p>
        We are dedicated to crafting exceptional skincare products that go
        beyond surface-level results. Our philosophy is rooted in the
        understanding that each individual is unique, and so is their skin. We
        celebrate diversity and believe that everyone deserves access to
        high-quality, effective, and luxurious skincare that caters to their
        specific needs.
      </p>
    </div>
    <div class="col-lg-6">
      <div class="image-wrapper">
        <img
          class="custom-image img-fluid"
          src="images/success/success1.jpg"
          alt="DailyEssentials"
        />
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6 order-lg-2">
      <p>
        Quality and transparency are the pillars of our brand. We meticulously
        select premium ingredients sourced from nature and backed by scientific
        research. We prioritize sustainability and ethical practices, ensuring
        that our products are not only good for your skin but also for the
        planet.
      </p>
      <p>
        We believe in empowering our community to embrace their natural beauty
        and feel confident in their own skin. Luminae Skincare aims to inspire
        self-care rituals that promote self-love, self-expression, and
        self-confidence. We encourage our customers to take a moment for
        themselves, to pause, and to appreciate the beauty and uniqueness that
      </p>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="image-wrapper">
        <img
          class="custom-image img-fluid"
          src="images/brand/brand1.jpg"
          alt="DailyEssentials"
        />
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <p>
      We strive to build a community of individuals who share our values, where
      education, inclusivity, and empowerment are at the forefront. Through our
      products, we aspire to transform not only the way you care for your skin
      but also the way you feel about yourself.
    </p>
    <p>
      Join us on this journey of self-discovery and self-care. Let Luminae be
      your partner in unlocking your inner radiance, embracing your
      individuality, and celebrating the beauty that makes you uniquely you.
      Together, let's illuminate the world with confidence and grace.
    </p>
  </div>
</div>
