<% layout('layouts/boilerplate')%>

<div class="content">
  <h1 class="mb-4">Careers</h1>
  <div class="row w-100">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group">
        <li class="list-group-item">No jobs available right now</li>
      </ul>
    </div>
  </div>
</div>
