<% layout('layouts/boilerplate')%>

<div class="container my-5">
  <h1 class="mb-4 text-center">Careers</h1>
  <ul class="list-group">
    <li class="list-group-item">No jobs available right now</li>
  </ul>
</div>
