<% layout('layouts/boilerplate')%>

<div class="container mt-5 font-sz-lg-font my-5">
  <article class="mx-5">
    <header>
      <h1 class="mb-4">Organic Ingredients for Skincare</h1>
    </header>
    <section class="my-3">
      <h2 class="mb-3">Exploring the Benefits of Organic Ingredients</h2>
      <p>
        We delve into the benefits of organic ingredients for skincare and their
        potential in promoting healthy and nourished skin. Our research focuses
        on the efficacy of natural extracts, oils, and botanicals in enhancing
        skin hydration, reducing inflammation, and improving overall skin
        appearance. Through our studies, we have discovered the remarkable power
        of nature and its ability to deliver exceptional results in skincare.
      </p>
    </section>

    <section class="my-3">
      <h2 class="mb-3">Harnessing the Power of Nature</h2>
      <div class="row">
        <div class="col-lg-6">
          <img
            src="/images/research/research4.jpg"
            alt="Sunscreen Image"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6">
          <p>
            Our organic skincare formulations incorporate carefully selected
            organic ingredients that work in harmony with the skin's natural
            processes. These ingredients, sourced from sustainable and ethical
            suppliers, provide a range of benefits for the skin. They are rich
            in antioxidants, vitamins, and minerals, which help nourish and
            revitalize the skin.
          </p>
        </div>
      </div>
    </section>

    <section class="my-3">
      <h2 class="mb-3">Promoting Healthy and Nourished Skin</h2>
      <div class="row">
        <div class="col-lg-6">
          <p>
            Our research has shown that organic ingredients have a positive
            impact on skin health. They contribute to improved hydration levels,
            resulting in a softer and smoother complexion. These ingredients
            also possess anti-inflammatory properties, helping to calm and
            soothe sensitive or irritated skin.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="image-wrapper article-img">
            <img
              src="/images/research/research5.jpg"
              alt="Skincare Product Image"
              class="img-fluid w-100"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="my-3">
      <h2 class="mb-3">Embrace the Power of Nature</h2>
      <p>
        Discover the power of nature in our organic skincare formulations. We
        are dedicated to harnessing the benefits of organic ingredients and
        incorporating them into our products. By utilizing nature's gifts, we
        aim to provide you with effective and gentle skincare solutions that
        promote healthy, nourished, and radiant skin.
      </p>
    </section>
    <div class="mt-5">
      <a href="/research" class="link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Research
      </a>
    </div>
  </article>
</div>
