<% layout('layouts/boilerplate')%>
<div class="container">
  <h1 class="brand">LUMINAE</h1>
  <div>
    <h3 class="py-3">
      Welcome to Luminae Skincare's 3-Step Routine Page! We believe in the power
      of simplicity and effectiveness when it comes to skincare. Our carefully
      curated 3-step routine is designed to provide you with a streamlined and
      transformative skincare experience.
    </h3>
    <h3 class="py-3">
      Step 1: Cleanse Begin your skincare journey with our Purity Cleanser. This
      gentle yet effective cleanser deeply purifies your skin, removing
      impurities and excess oil without stripping away essential moisture. It
      sets the foundation for healthy and radiant skin, preparing it for the
      next steps of your routine.
    </h3>
    <h3 class="py-3">
      Step 2: Treat Next, indulge in our Chemical Exfoliator. This powerful
      treatment promotes cellular turnover, gently removing dead skin cells to
      reveal a smoother and more refined complexion. With regular use, it helps
      to diminish the appearance of fine lines, uneven texture, and
      hyperpigmentation, leaving your skin revitalized and rejuvenated.
    </h3>
    <h3 class="py-3">
      Step 3: Hydrate Complete your routine with our Luxury Lotion. Enriched
      with luxurious ingredients, this hydrating lotion provides intense
      moisture, nourishing your skin and restoring its natural balance. Its
      lightweight and fast-absorbing formula leave your skin feeling velvety
      smooth, supple, and luminous.
    </h3>
    <h3 class="py-3">
      Together, these three essential steps create a harmonious skincare ritual
      that addresses your skin's specific needs. Our products are carefully
      formulated with high-quality ingredients to deliver visible results,
      empowering you to embrace your natural beauty.
    </h3>
    <h3 class="py-3">
      At Luminae Skincare, we believe that a simple yet effective routine is the
      key to unlocking your skin's true potential. Explore our 3-step routine
      and embark on a journey towards healthier, glowing skin. Elevate your
      skincare experience with Luminae and experience the transformative power
      of simplicity.
    </h3>
  </div>
</div>
