<% layout('layouts/boilerplate')%>

<div class="container my-5">
  <h1 class="mb-4 text-center">Terms and Conditions</h1>
  <p>
    Welcome to Luminae Skincare! By accessing and using our website, you agree
    to be bound by these Terms and Conditions and all applicable laws and
    regulations.
  </p>
  <p>
    <strong>Use of Website:</strong>
    You must use this website only for lawful purposes and in a manner
    consistent with these Terms and Conditions. You must not use the website in
    any way that may cause damage to the website or impair its availability or
    accessibility.
  </p>
  <p>
    <strong>Intellectual Property:</strong>
    All content on this website, including text, graphics, images, and logos, is
    the property of Luminae Skincare and is protected by intellectual property
    laws.
  </p>
  <p>
    <strong>Third-Party Links:</strong>
    This website may contain links to third-party websites that are not owned or
    controlled by Luminae Skincare. We are not responsible for the content or
    privacy practices of such websites.
  </p>
  <p>
    <strong>Disclaimer:</strong>
    The information provided on this website is for general informational
    purposes only and is subject to change without notice. We do not warrant the
    accuracy, completeness, or timeliness of the information on this website.
  </p>
  <p>
    <strong>Limitation of Liability:</strong>
    To the fullest extent permitted by law, Luminae Skincare shall not be liable
    for any indirect, incidental, special, or consequential damages arising out
    of or in connection with your use of this website.
  </p>
  <p>
    <strong>Changes to Terms and Conditions:</strong>
    We may update these Terms and Conditions from time to time, and any changes
    will be posted on this page.
  </p>
  <p>
    <strong>Contact Us:</strong>
    If you have any questions or concerns about our Terms and Conditions, please
    contact us at info@luminaeskincare.com.
  </p>
</div>
