<%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/navbar')%>


  <body>
    <main class="container py-3">
    <div class="text-center my-5">
      <h1 class="center-title py-5">Thank You</h1>
      <p class="text-center"><%= message %></p>
    </div>
    <div class="text-center my-5">
      <a href="/" class="link">Go to Home Page</a>
      <p class="my-3">OR</p>
      <a href="/shop-all" class="btn btn-outline-dark">Start Shopping</a>
    </div>

<%- include('../partials/end')%>
