<% layout('layouts/boilerplate')%>

<div class="container-md text-center py-5">
  <h1 class="py-5">Thank You</h1>
  <p><%= message %></p>

  <div class="row mt-3">
    <div class="col">
      <a href="/" class="link">Back to home page</a>
    </div>
  </div>
  <p class="my-3">or</p>
  <div class="row mb-5">
    <div class="col">
      <a href="/shop-all" class="btn btn-outline-dark">Start shopping</a>
    </div>
  </div>
</div>
