.navbar {
  position: fixed;
  height: 55px;
  z-index: 5;
  width: 100%;
}

.navbar-space {
  height: 55px;
}

#navbarSupportedContent {
  width: 100%;
}

.nav-logout {
  border: none;
  background-color: transparent;
}

@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .navbar-collapse .navbar-nav {
    align-items: flex-start;
  }
}
