.sidebar {
  height: 50vh;
  padding-top: 3rem;
}

.sidebar-menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    top: 55px;
    position: sticky;
    height: 100%;
    padding-top: 0;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
  }

  .sidebar-menu-toggle {
    display: block;
    border: none;
    opacity: 0.7;
    padding: 5px;
    border: 1px solid var(--light-border);
    transition: all 0.3s ease;
  }

  .sidebar-menu-toggle:hover {
    opacity: 1;
  }
}
