.table > :not(:first-child) {
  border-top: 1px solid var(--dark-border);
}

.table-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
}

.table-image img {
  width: 100%;
}

.cart-qty {
  text-align: center;
  width: 40px;
}

.cart-update {
  display: flex;
  flex-direction: row;
}

.cart-delete:hover {
  opacity: 50%;
  cursor: pointer;
}

.quantity-btn {
  font-family: 'Verdana';
}
