.category-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: sticky;
  top: 55px;
  z-index: 4;
  border: 1px solid var(--light-border);
  background-color: var(--bg-light-color);
}

.category-links a {
  border-radius: 4px;
  text-decoration: none;
  color: var(--dark-border);
  transition: all 0.3s ease;
  opacity: 0.5;
  padding: 15px 0;
}

.category-links a:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
}

.category-links-toggle {
  display: none;
}

@media (min-width: 768px) {
  .category-links a {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .category-links {
    display: flex;
    flex-direction: column;
  }

  .category-links a {
    display: none;
    margin-left: 15px;
  }

  .category-links.active a {
    display: block;
  }

  .category-links-toggle {
    display: block;
    border: 1px solid var(--light-border);
    background-color: var(--bg-light-color);
    padding: 5px;
    border-bottom: none;
    opacity: 0.5;
    transition: all 0.3s ease;
  }

  .category-links-toggle:hover {
    opacity: 1;
  }
}

.btn-cart {
  width: 100%;
  border: none;
  border-top: 1px solid var(--light-border);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
